@import "tailwindcss";

@theme {

  /* fonts */
  --font-quantico: "Quantico", sans-serif;

  /* colors */
  --color-joker-100: oklch(0.6889 0.1381 312.43);
  --color-joker-200: oklch(0.7514 0.1296 148.91);

  /* animations */
  --animate-ball-drop-in: ball-drop-in 3s linear;

}

  /* keyframes */
  @keyframes ball-drop-out {}
  @keyframes ball-bounce {}
  @keyframes shadow-drop-in {}
  @keyframes shadow-drop-out {}
  @keyframes shadow-bounce {}
  @keyframes question-grow {}
  @keyframes question-shrink {}
  @keyframes answer-grow {}
  @keyframes answer-shrink {}


  @keyframes ball-drop-in-sm {
    0% {
      height: 0;
      width: 0;
      top: 16px;
      left: 44px;
      font-size: 0;
    }
    5%{
      height: 6px;
      widht: 6px;
    }
    20%{
      height: 12px;
      width: 12px;
      top: 12px;
      left: 40px;
    }
    40%{
      top: 95%;
      left: 15%;
    }
    60%{
      top: 20%;
      left: 25%;
    }
    80%{
      top: 95%;
      left: 38%;
    }
    90%{
      height: 12px;
      width: 12px;
      font-size: 0;
    }
    95%{
      height: 6px;
      width: 6px;
      top: 30%;
      left: 50%;
      font-size: 9pt;
      transform: translate(-50%, -50%);
    }
    100%{
      font-size: 18pt;
      height: 0;
      width: 95%;
      top: 30%;
      left: 50%;      
      transform: translate(-50%, -50%);
    }
  }
  @keyframes ball-drop-in-md {
    0% {
      height: 0;
      width: 0;
      top: 20px;
      left: 64px;
      font-size: 0;
    }
    5%{
      height: 8px;
      widht: 8px;
    }
    20%{
      height: 16px;
      width: 16px;
      top: 20px;
      left: 64px;
    }
    40%{
      top: 95%;
      left: 15%;
    }
    60%{
      top: 20%;
      left: 25%;
    }
    80%{
      top: 95%;
      left: 38%;
    }
    90%{
      height: 16px;
      width: 16px;
      font-size: 0;
    }
    95%{
      height: 8px;
      width: 8px;
      top: 35%;
      left: 50%;
      font-size: 10pt;
      transform: translate(-50%, -50%);
    }
    100%{
      font-size: 20pt;
      height: 0;
      width: 95%;
      top: 35%;
      left: 50%;      
      transform: translate(-50%, -50%);
    }
  }
  @keyframes ball-drop-in-lg {
    0% {
      height: 0;
      width: 0;
      top: 20px;
      left: 108px;
      font-size: 0;
    }
    5%{
      height: 12px;
      widht: 12px;
    }
    20%{
      height: 24px;
      width: 24px;
      top: 20px;
      left: 108px;
    }
    40%{
      top: 95%;
      left: 15%;
    }
    60%{
      top: 20%;
      left: 25%;
    }
    80%{
      top: 95%;
      left: 38%;
    }
    90%{
      height: 24px;
      width: 24px;
      font-size: 0;
    }
    95%{
      height: 12px;
      width: 12px;
      top: 40%;
      left: 50%;
      font-size: 15pt;
      transform: translate(-50%, -50%);
    }
    100%{
      font-size: 30pt;
      height: 0;
      width: 95%;
      top: 40%;
      left: 50%; 
      transform: translate(-50%, -50%);
    }
  }


  .ball-drop-in {
    animation: 3s linear 1s ball-drop-in-sm;
    animation-fill-mode: both;
    
    /* medium  */
    @media (min-width: 768px) {
      animation: 3s linear 1s ball-drop-in-md;
      animation-fill-mode: both;
    } 
    
    /* large   */
    @media (min-width: 1024px) {
      animation: 3s linear 1s ball-drop-in-lg;
      animation-fill-mode: both;
    } 
  }